* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
}

h1,
h2 {
  text-align: center;
  font-family: 'Fredoka', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 1px;
  margin: 2%;
}

.items {
  font-family: 'Fredoka', sans-serif;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  align-items: center;
}

.items p {
  width: 100%;
  text-align: center;
  font-size: x-large;
}

.field-add {
  display: none;
  flex-direction: column;
  width: 50%;
  margin: 8px auto;
  text-align: center;
}

#add-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#add-form input {
  padding: 10px 20px;
  margin: 10px 0;
  font-size: large;
}

#add-form button {
  background-color: #ffd9008d;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  outline: none;
  text-align: center;
  white-space: nowrap;
  padding: 15px 25px;
}

.rmv-btn {
  background-color: #f00;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  outline: none;
  text-align: center;
  white-space: nowrap;
  padding: 10px 20px;
}

#add-form button:hover {
  background-color: black;
  color: #fffffefa;
}

.filed-title {
  text-align: center;
}

.add-btn {
  color: rgba(255, 255, 255, 0.4);
  width: 20%;
  float: right !important;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 75, 0);
}

.nav h1 {
  font-family: 'Fredoka', sans-serif;
  font-size: xx-large;
  color: #fff;
}

.anchors {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.anchors a {
  font-family: 'Fredoka', sans-serif;
  font-size: large;
  padding: 0 15px;
  color: #fff;
  cursor: pointer;
}

.anchors a:hover {
  color: black;
}

.book-add h2 {
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Fredoka', sans-serif;
  font-size: xx-large;
}

.contact {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  gap: 80px;
}

.contact h2 {
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Fredoka', sans-serif;
  font-size: xxx-large;
}

.contact p {
  font-family: 'Fredoka', sans-serif;
  font-size: xx-large;
  text-align: center;
  padding: 0 35px;
  color: #000;
}

.contact ul {
  font-family: 'Fredoka', sans-serif;
  font-size: x-large;
  padding: 4% 22%;
  color: #000;
  text-align: left;
  margin: 1%;
}

.contact ul li {
  font-family: 'Fredoka', sans-serif;
  font-size: x-large;
  padding: 3% 0;
  color: #000;
  text-align: left;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 75, 0);
  font-family: 'Fredoka', sans-serif;
  font-size: x-large;
  text-align: center;
  color: #fff;
}

#date {
  font-family: 'Fredoka', sans-serif;
  font-size: large;
  padding: 0 15px;
  color: rgb(8, 8, 8);
  cursor: pointer;
  text-align: right;
}

.alert {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.alert p {
  font-family: 'Fredoka', sans-serif;
  color: red;
}
